body {
  background-color: #13111a;
}

.profile {
  border: 1px solid black;
  background-color: #16151d;
  width: 600px;
  height: 270px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2%;
  filter: drop-shadow(0 0 0.9rem #1936bd);
}

#pTitle {
  font-family: "Staatliches", cursive;
  font-size: 30px;
  color: rgb(131, 146, 175);
}

#pImg {
  position: relative;
  float: right;
  bottom: 11.5%;
  border-radius: 50%;
}

#pInfo {
  font-family: "Montserrat", sans-serif;
  color: rgb(131, 146, 175);
}

.clanBadge {
  width: 25px;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 25%;
}

.clanBadge:hover {
  filter: drop-shadow(0 0 0.9rem rgb(36, 182, 17));
}

.ghBadge {
  width: 25px;
}

.ghBadge:hover {
  filter: drop-shadow(0 0 0.9rem rgb(196, 10, 91));
}
